//colores
$primary : #fcfcfc;
$fondoClaro:rgb(241, 241, 241);
$fondoCard:rgb(235, 235, 240);
$fondoOscuro:rgb(31, 47, 92);
$fuentes : #c3b9d6;
$fuenteClara:rgb(155, 174, 226);
$fuentedeGrisOscura : #2d2d2e;
$gris : #a2a1a7;
$fuenteGrisMedio : #4d4d50;


