//colores
$primary : #fcfcfc;
$fondoClaro:rgb(210, 210, 218);
$fondoCard:rgb(235, 235, 240);
$fondoOscuro:rgb(31, 47, 92);
$fuenteClara:rgb(133, 149, 192);
$fuentes : #7f7e81;
$gris : #a2a1a7;
$bordeGris : #504f52;


